@import '../../../vars.scss';

.footer {
  grid-area: footer;
  background-color: $footer-color;
  color: $text-footer-color;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  padding: 0 10px; 
}

.container {
  max-width: $container;
  justify-content: space-between;
}
