//colors
$main-color: #ffffff66;
$sub-color: #d8e5ff;
$title-color: #d8e5ff;
$text-color: rgb(68, 68, 68);
$footer-color: #d8e5ff;
$text-footer-color: rgb(59, 58, 58);


//fonts
$title: 'Roboto', sans-serif;
$text: 'Poiret One', cursive;

//vars
$title-size: 36px;
$text-size: 18px;

$container: 100%;